gray = #f0f0f0
dark_gray = #383436
purple = #61315B
pop_purple = #8B2A80
header_height = 80px

body
  background-color: #e6e6e6

#navbar
  background-color: gray
  background-image: none
  
  .nav>li>a
    color: dark_gray

  .nav>li>a:hover
  .active>a:hover
  .active>a
    color: pop_purple

.page-header
  background-color: #f8f8f8

  > h1
    color: purple

#landing
  text-align: center

.brand > img
  height: header_height

.navbar ul.nav
  margin: 30px 0 0 30px
  font-size: 1.5em

.navbar .nav>li>a
  text-shadow: none