body {
  background-color: #e6e6e6;
}
#navbar {
  background-color: #f0f0f0;
  background-image: none;
}
#navbar .nav>li>a {
  color: #383436;
}
#navbar .nav>li>a:hover,
#navbar .active>a:hover,
#navbar .active>a {
  color: #8b2a80;
}
.page-header {
  background-color: #f8f8f8;
}
.page-header > h1 {
  color: #61315b;
}
#landing {
  text-align: center;
}
.brand > img {
  height: 80px;
}
.navbar ul.nav {
  margin: 30px 0 0 30px;
  font-size: 1.5em;
}
.navbar .nav>li>a {
  text-shadow: none;
}
